---
---
@import "font";
@import "color";
@import "menu";
@import "atvimg";

body {
    font-family: $font-primary;
    font-size: 17px;
    line-height: 35px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #000;
    transition: color .2s linear;

    &:hover {
        color: $primary-color;
        text-decoration: none;
    }
}

.header {
    text-align: center;
    .logo {
        width: 200px;
    }
}

.intro {
    h1 {
        font-family: $font-heading;
        font-size: 35px;
        padding: 20px 0;
        line-height: 50px;
        font-weight: 400;
        max-width: 650px;
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 35px;
        text-align: center;

        a {
            color: $primary-color;
            position: relative;
            display: inline-block;

            &:after {
                content: '';
                display: block;
                width: 0;
                height: 3px;
                background-color: #d7b065;
                transition: width .3s;
                position: absolute;
                left: 0;
                bottom: 0;
                text-decoration: none;
            }

            &:hover:after {
                width: 100%;
            }
        }

        @media screen and (max-width: 1020px) {
            font-size: 30px;
            line-height: 40px;
            max-width: 95%;
        }
    }
}

.quote {
    font-size: 50px;
    font-family: $font-heading;
    padding: 20px 0;
    margin-top: 45px;
    position:relative;
    line-height: 50px;

    @media screen and (max-width: 1020px) {
        font-size: 30px;
        max-width: 95%;
    }

    &:before {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        display: block;
        content: "\201C";
        font-size: 470px;
        line-height: 100%;
        color: $primary-color;
        margin-bottom: -346px;
        margin-top: -50px;
        opacity: 0.25;

        @media screen and (max-width: 1020px) {
            font-size: 300px;
            margin-bottom: -242px;
        }
    }
}

.section-footer {
    color: $primary-color;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 25px;
    i.fa {
        margin: 10px;
    }
}

.paragraph {
    padding: 25px;
    font-size: 24px;
    line-height: 2;
    font-weight: 300;
    margin-top: 10px;
    color: $description-color;

    @media screen and (max-width: 1020px) {
        padding: 15px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
    }
}

.statistic {
    margin: auto;
    margin-top: 40px;
    max-width: 800px;
    text-align: center;

    &-banner {
        border: 10px solid rgba(204, 204, 204, 0.17);
        box-shadow: 17px 24px 49px -4px rgba(0,0,0,0.21);

        img{
            width: 100%;
        }
    }

    &-title {
        @extend .quote;
    }

    &-description {
        @extend .paragraph;
    }

    &-numbers {
        margin-top: 30px;
        color: #8a8a8a;
        text-transform: uppercase;
        span {
            font-size: 35px;
            color: $primary-color;
        }
    }

    &-footer {
        @extend .section-footer;
    }
}

.footer {
    height: 250px;
    background: #000;
    margin-top: 10px;
    color: #fff;
    text-align: center;
    &-logo {
        width: 150px;
        margin: auto;

        img {
            width: 100%;
            opacity: 0.8;
        }
    }

    &-copyright {
        padding: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.35);
    }
}

.services {
    background: #fafafa;
    padding: 40px 0;
    text-align: center;

    &-tag {
        font-size: 25px;
        font-weight: 300;
    }

    &-title {
        @extend .quote;
        margin: auto;
    }

    &-description {
        @extend .paragraph;
    }

    &-list {
        margin-top: 30px;
    }

    &-footer {
        @extend .section-footer;
    }

    .box {
        max-width: 500px;
        height: 300px;
        border: 10px solid rgba(204, 204, 204, 0.17);
        //box-shadow: 17px 24px 49px -4px rgba(0,0,0,0.21);
        transition: border .5s;
        margin: 40px;

        @media screen and (max-width: 1020px) {
            max-width: 85%;
            margin: auto;
            margin-bottom: 20px;
        }

        &:hover {
            border: 0;
            box-shadow: none;
        }
        img {
            height: 100%;
            width: 100%;
        }
    }

    .box.vertical {
        height: 500px;
        width: 300px;
        margin: 25px auto;
    }
}

.btn-tc {
    color: $primary-color;
    /* background-color: #5bc0de; */
    border-color: $primary-color;
    transition: all .4s;

    &:hover {
        background-color: $primary-color;
        color: #fff;
    }
}