<footer class="footer">
    <div class="container">
        <div class="footer-logo">
            <img src="{{ site.baseurl }}/assets/img/logo-white.png"/>
        </div>
        <div class="extender"></div>
        <div class="footer-socials">
            <a href="javascript:;"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a href="javascript:;"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="javascript:;"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
            <a href="javascript:;"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="javascript:;"><i class="fa fa-snapchat-square" aria-hidden="true"></i></a>
        </div>
        <div class="extender bottom"></div>
        <div class="footer-contacts">
            65-30 Kissena Blvd. CEP Hall 2 - Queens, NY 11367 - 888-898-8666
        </div>
        <div class="footer-copyright">
            Copyright © 2017 TechClub. All rights reserved.
        </div>
    </div>
</footer>
